* {
    margin:0;
    padding:0;
}

.icon {
    width:25px;
    padding-right: 15px;
}
  
header {
    height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lexend Giga', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}  

main {
    display: flex;
    justify-content: space-around;
    height: 90vh;
}

.grid-container {
    display: grid;
    padding:3px;
    gap: 10px;
    grid-template-columns: repeat(3, 32vw);
    grid-template-rows: repeat(4, 30vh);
    justify-content: space-evenly;
  }

  .grid-item {
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
  }

  .gris {
    background-image: url('/img/hachure.png');
    background-color: rgba(1, 1, 1, 0.4);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    /* chercher comment changer l'ordre des images pour que le hachurages passe au-dessus */
  }


 .alpha{
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
